// 
// Colors
// 

// Pre-state grayscale colors used in other variables

$gray-800: #343a40;

// Override Bootstrap color system

$blue: #102a7e;

// Override Bootstrap default state colors

$primary: $blue;
